html 
  head
    title Real-Time Routing Handler
  body
    header
      h1 Real-Time Routing Handler
      h2 Paths
      
      h3 bundle
      p A post to <code>/real_time_routing/bundle</code> with a JSON body containing <code>{"ids": #ARRAY#}</code> with an array of five integers will return <code>{"destination_campaign_id":#RANDOMLYSELECTEDINTEGER#</code>.
      p Used to route a campaign by <code>destination_campaign_id</code>. 
      p Test the method with the following <code>curl</code> request:
      pre curl -H "Content-Type: application/json" -XPOST -d '{"ids":[80,81,79,34,32]}' http://dry-castle-8995.herokuapp.com/bundle
      
      h3 bundificate
      p A post to <code>/real_time_routing/bundificate</code> with a JSON body containing <code>{"ids": #ARRAY#}</code> with an array of five integers will return <code>{"destination_campaign_id_from_network":#RANDOMLYSELECTEDINTEGER#</code>.
      p Used to route a campaign by <code>destination_campaign_id_from_network</code>. 
      p Test the method with the following <code>curl</code> request:
      pre curl -H "Content-Type: application/json" -XPOST -d '{"ids":[82420,84321,7964,3424,632]}' http://dry-castle-8995.herokuapp.com/bundificate
      
      h3 promo
      p A post to <code>/real_time_routing/direct</code> with an empty JSON body will return <code>{"destination_phone_number":#RANDOMLYSELECTEDPHONENUMBER#</code>, with a randomly selected weather telephone number. 
      p Used to route a campaign by <code>destination_phone_number</code>. 
      p Test the method with the following <code>curl</code> request:
      pre curl -H "Content-Type: application/json" -XPOST -d '{}' http://dry-castle-8995.herokuapp.com/promo